</article>
<!-- JavaScript 放置在文档最后面可以使页面加载速度更快 选自《高性能JavaScript 编程》-->
<!-- 可选: 合并了 Bootstrap JavaScript 插件 -->
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</body>
</html>